<div class="container py-5" style="background-color:#e6e6e6;max-width: none;  ">

  <div class="row " >
    
    <div class="col-12 col-md">
      
      <a href="https://www.blockchain2050.io/" target="blank"> <img src="/images/icons/bc1.png" width="80" height="60"> </a>
      
      <br>
      <a style="font-size: 11.5px;">ΆΡΑΤΟΣ NΤΟΤ ΝΕΤ Ε.Π.Ε.</a>
      
      <small class="d-block mb-3 text-muted" >&copy; 2020</small>
    </div>
   
  
    <div class="col-6 col-md">
      <h5 style="font-size: 14px;">Οδηγίες</h5>
      <ul class="list-unstyled text-small">
        <li><a style="font-size: 12px;" class="text-muted" href="/files/admin.pdf" target="_blank">Είσοδος Διαχειριστή</a></li>
        <li><a style="font-size: 12px;" class="text-muted" href="/files/user.pdf" target="_blank">Είσοδος Χρήστη</a></li>
        <li><a style="font-size: 12px;" class="text-muted" href="/files/save.pdf" target="_blank">Καταχώριση Στοιχείων Εγγράφου</a></li>
        <li><a style="font-size: 12px;" class="text-muted" href="/files/find.pdf" target="_blank">Αναζήτηση Στοιχείων Εγγράφου</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="font-size: 14px;">Σχετικά</h5>
      <ul class="list-unstyled text-small">
        <li><a style="font-size: 12px;" class="text-muted" href="#"></a></li>
        <li><a style="font-size: 12px;" class="text-muted" href="#">Απόρρητο και </br>Όροι Χρήσης</a></li>
      </ul>
    </div>
    
    <div class="col-6 col-md">
      <h5 style="font-size: 14px;">Επικοινωνία</h5>
      <ul class="list-unstyled text-small">
        <li class="fa fa-envelope"><a style="font-size: 12px;" class="text-muted" href="#"> Email: info@blockchain2050.io</a></li><br>
        <li class="fa fa-phone"><a style="font-size: 12px;" class="text-muted" href="#"> Τηλ.: 2109424630</a></li>
        
      </ul>
    </div>

  </div>
  <div class="row " >
    <div class="col-md">
      <p class="" style="font-size: 8px;" style="text-align:center; max-width: none;" >&copy; Αποποίηση Ευθύνης: Καταβάλλεται προσπάθεια από τους Διαχειριστές της Εφαρμογής του Δήμου Άργους-Μυκηνών ώστε οι παρεχόμενες πληροφορίες να είναι ενήμερες, άρτιες και ορθές. Παρόλα αυτά, δε φέρει ευθύνη ο Δήμος Άργους-Μυκηνών για την επικαιρότητα, εμπορικότητα ή καταλληλότητα του περιεχομένου αυτού, σε συσχετισμό με οποιαδήποτε χρήση, εφαρμογή ή σκοπό από μέρους του επισκέπτη / χρήστη. Η αποποίηση της ευθύνης αυτής συμπεριλαμβάνει επίσης και τις περιπτώσεις αμέλειας και ενδεχόμενης πρόκλησης οποιασδήποτε μορφής ζημιάς που ενδέχεται να υποστεί ο επισκέπτης / χρήστης του περιεχομένου της εφαρμογής. Ο Δήμος Άργους-Μυκηνών δεν ευθύνεται επίσης για την αδιάλειπτη, δίχως σφάλματα ή λάθη παροχή πληροφοριών, καθώς και το ότι τα λάθη θα διορθώνονται αμέσως ή θα δίδονται απαντήσεις σε όλα τα ερωτήματα που τίθενται. 2020</p>  
    </div>
    
  </div>
</div>