<!DOCTYPE html>
<html lang="en">

<style>
	
	div.a {
	  margin-right: 20px;
	  margin-left:20 px;
	}
	
	div.b {
	  text-indent: -2em;
	}
	
	div.c {
	  text-indent: 30%;
	}
	p.ex1 {
	  padding-right: 150px;
	}
	</style>
		<!--- basic page needs
		================================================== -->
		<meta charset="utf-8">
		<title>Tap2SoS</title>
		<meta name="author" content="">
		<meta name="description" content="Tap2sos.com is a rather simplistic wearable device - operating via the new IoT Cloud platform and COTIC modules technology – developed specifically for emergencies, providing access to medical data (EMR) on the spot.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="title" content="tap2sos - A reliable and low cost bracelet for documentation and retrieval of medical data.">
		<meta name="keywords" content="tap2sos, medical, First aid,Healthcare, alert, bracelet, wristband, epilepsy, medical alert, medic alert, medical wristband, medical bracelet, medical card, emergency, emergency card, medic, paramedic, NHS, medication, medicine, key fob, NFC, blockchain, connect, business, card, business card, NFC, scannable, scan, scanable, QR, QR code, diabetes, COPD, seizures, seizure, medical conditions, conditions, tyoe 1, type 2, insulin, SOS, Tap, cloud, health data, health certificate, unconscious">
		
		<!--Slider Includes-->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/news-slider.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
		<script src="js/news-slider.js"></script>
		
		<!-- mobile specific metas
		================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!-- CSS
		================================================== -->
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="css/vendor.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="plugins/Ionicons/css/ionicons.min.css">
		<link rel="stylesheet" href="css/style_tem.css">
		<link rel="stylesheet" href="css/icons.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!--<link rel="stylesheet" href="css/prevnextbutton.css">-->
	
		<!-- script
		================================================== -->
		<script src="js/modernizr.js"></script>
		<script src="js/pace.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
	
		<script>document.getElementsByTagName("html")[0].className += " js";</script>
		<!-- favicons
		================================================== -->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<!--<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>-->
		<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
		<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="translate.js"></script>

</html>
