 <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<style type="text/css">
.contact-header-left .mobilefix-md .redc {
	color: #FFF;
	font-family: Roboto, Geneva, sans-serif;
}
</style>
 


<header class="s-header"  style="background-image: url(images/doctorcloud_new.jpg)"  class="mobilefix-md">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/tap2sos_newlogo.png" alt="Homepage" class="img-responsive">
            </a>
        </div> <!-- end header-logo -->
		
		
		</header>
    
 
   