<!DOCTYPE html>
<html>
	<head>  
		<% include ../partials/headsign %>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <script src="https://www.paypal.com/sdk/js?client-id=AXZJmHVgVDu9czmTZOd8O2OjqrrmVjkv-5GUX1uMRRdqHmbvKdXuXTiK7ahfkBHBB1yq6IZoiEmgIyuN"></script> -->
		<!-- <script>paypal.Buttons().render('#paypalPay1');</script> -->
		<!-- <script src="https://www.paypalobjects.com/api/checkout.js"></script> -->
	</head>
<body>
<!----------------------------------------------Frontend HTML START-------------------------------------------------------->
<% include ../partials/headold.ejs %>
<% include ../partials/top %>
	<!------------------------------------------Form Section START---------------------------------------------->
	<section id="description" style="display:block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="signup" class="sealed feature_header text-center">
						<h1 class="feature_title">Sign Up</h1>
						<br>The fields with (<span style="color:red">*</span>) are required
					</div>
				</div>
			</div>
			<form id="allset" class="form-register" style="background:url(images/photo_2019-03-18_16-55-53.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; !important" enctype="multipart/form-data"  >
				<div class="form">	
					<div class="ss-item-required" id="usernameDiv">
						Username: <span style="color:red">*</span> <br>
						<input type="text" name="Username" id="username" value="" required><br>
						<div id="usernameMessages"></div>
					</div>
					<div class="ss-item-required">
						Email: <span style="color:red; display: inline-block;">*</span> <br>
						<input type="text" name="Email" id="email" value="" required><br>
						<div id="emailMessages"></div>
					</div>
					<!-- <div class="divider"></div> -->
					<div class="ss-item-required">
						Surname:  <br>
						<input type="text" name="Surname" id="surname" value="" ><br>
					</div>
					<div class="ss-item-required">
						Name: <br>
						<input type="text" name="Name" id="name" value="" ><br>
					</div>
					<div class="ss-item-not-required">
						Middle Name:  <br>
						<input type="text" name="Middle_Name" id="middleName" value=""><br>
					</div>
					<div class="ss-item-required">
						Sex: <br>
						<select name="Sex" id="sexid" value="" >
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Other">Other</option>
							<option value="Prefer Not to say">Prefer Not to say</option>
						</select>
					</div>
					<div class="ss-item-required">
						Date Of Birth: <br>
						<input type="date" name="Date_of_Birth" id="birth" > <br>
					</div>
					<div class="ss-item-required">
						Social Security Registration Number: <br>
						<input type="text" name="Amka" id="amka" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode &gt;= 48 && event.charCode &lt;= 57" value="" > <br>
					</div>
					<div class="ss-item-required">
						Address:  <br>
						<input type="text" name="Address" id="address" value="" > <br>
					</div>
					<div class="ss-item-required">
						Phone Number:<br>
						<input type="text" name="Phone_Number" id="phone" pattern="\d{10}" title="10 digits are required." onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode &gt;= 48 && event.charCode &lt;= 57" value="" placeholder="Enter your Phone"  minlength="10" maxlength="10" ><br>
						<div id="phoneMessages"></div>
					</div>
					<div class="ss-item-required">
						Emergency Contact Phone Number:  <br>
						<input type="text" name="Emergency_Contact_Phone_Number" id="emergencyPhone" pattern="\d{10}" title="10 digits are required." onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode &gt;= 48 && event.charCode &lt;= 57" value="" placeholder="Enter your Emergency Phone" minlength="10" maxlength="10" > <br>
					</div>
					<div class="ss-item-required">
						Personal Doctor's Phone Number: <br>
						<input type="text" name="Personal_Doctor_Phone_Number" id="doctorPhone" pattern="\d{10}" title="10 digits are required." onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode &gt;= 48 && event.charCode &lt;= 57" value="" placeholder="Enter your Doctor's Phone"  minlength="10" maxlength="10" > <br>
					</div>
					<div class="ss-item-required">
						Personal Photo: 			
						<input type="file" id = "file" name = "file"/>
						<img src="/images/pngwing.com.png" id='photo' alt="image" height=50 width=50>
					</div>
					<div class="ss-item-required">
						Life Threatening Medical Condition: <em>(If none, please state it) </em> <br>
						<input type="text" name="Life_Threatening_Medical_Condition" id="medicalCondition" value="" > <br>
					</div>
					<div class="ss-item-required">
						Blood Group:  <br>
						<select name="Blood_Group" id="bloodType" value="">
						    <option value="-">-</option>
							<option value="A+">A+</option>
							<option value="A-">A-</option>
							<option value="B+">B+</option>
							<option value="B-">B-</option>
							<option value="0+">0+</option>
							<option value="0-">0-</option>
							<option value="AB+">AB+</option>
							<option value="AB-">AB-</option>
						</select>
					</div>
					<div class="ss-item-required">
						Essential Medications: <em>(If none, please state it) </em> <br>
						<input type="text" name="Essential_Medications" id="medication" value="" > <br>
					</div>
					<div class="ss-item-required">
						Allergies: <em>(If none, please state it)</em>  <br>
						<textarea rows="4" cols="40" name="Allergies" id="allergies" value="" ></textarea> <br>
					</div>
					<div class="ss-item-required">
						Organ Donor: <em>(Yes-No,Please Specify Details)</em>  <br>
						<textarea rows="4" cols="40" name="Organ_Donor" id="organDonor" value="" ></textarea> <br>
					</div>
					<br>
					<label><input type="checkbox" name="checkbox" class="check1" /> I have read and agreed to the Terms and Conditions. <span style="color:red">*</span></label><br>
					<label><input type="checkbox" name="checkbox" class="check2" /> I have read and agreed to the Privacy Policy. <span style="color:red">*</span></label><br>
					<!--<div class="g-recaptcha" data-sitekey="6LftM5IUAAAAALcbnHa-kv8zYyvmXvp-7vfb2K2h"></div>-->
					<button id="paypalPay"> 
						Proceed to wristband
					</button>
				</div>
			</form>	
		</div>	
		<div id="idMessages"></div>
		<div id="metamask"></div>
		<div id="member"><p><a href="LogIN">If you are a member? Please login!</a></p>     </div>
	</section>
	<section id="payment" style="background:url(images/photo_2019-03-18_16-55-53.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;">
		<form id="paypal & credit payment" >
			<!-- Paypal div-->
			
				<div class="paypal-center" id="paypal-button-container"></div>
			
			
			<!-- Paypal div -->
		</form>
	</section>
	<!------------------------------------------Form Section End--------------------------------------------------->

		<!------------------------------------------Display Section Start-------------------------------------------->
		<section id="afterSignUp" style="display:none">
			<div id="afterSignUpMessage"></div>
		</section>
		<!------------------------------------------Display Section End---------------------------------------------->

	<!----------------------------------------------Frontend HTML END----------------------------------------------------->

<!---------------------------------------------- Javascript START------------------------------------------------------->
<script type="text/javascript">
//Phone initiallizers
//Insert counrty code in the phone nymber fields 
// const id=<%= id_new %>
// console.log(id)
var input = document.querySelector("#phone");
var iti = window.intlTelInputGlobals.getInstance(input);
window.intlTelInput(input,{initialCountry: "GR"});
var input1 = document.querySelector("#emergencyPhone");
var iti = window.intlTelInputGlobals.getInstance(input1);
window.intlTelInput(input1,{initialCountry: "GR"});
var input2 = document.querySelector("#doctorPhone");
var iti = window.intlTelInputGlobals.getInstance(input2);
window.intlTelInput(input2,{initialCountry: "GR"});

//Check when image is changed
var photo;
window.addEventListener('load', function() {
	document.querySelector('input[type="file"]').addEventListener('change', function() {
		if (this.files && this.files[0]) {
			var img = document.getElementById('photo');  // $('img')[0]
			img.src = URL.createObjectURL(this.files[0]); // set src to blob url
			img.onload = imageIsLoaded;
			filepath = img.src;
			photo = img;
		}
	});
});

//check if image is loaded
function imageIsLoaded() { 
}
//Initialize extension variable
var extension;

//Initalize paypal functionality
$('#paypalPay').click(function (e) {
	e.preventDefault() 
	if (!$('.check1').is(':checked') ) {
		//prevent the submission of the form submit, if it is not checked
		alert('Please indicate that you have read and agreed to the Terms and Conditions.');
	}	
	//Check if the privacy policy is checked
	else if (!$('.check2').is(':checked')) {
		//prevent the default form submit if it is not checked
		alert('Please indicate that you have read and agreed to the Privacy Policy.');
	}else{
		//start paypal button
		var username = document.getElementById("username").value;
		//if fields are not empty then send the form
		if(username !=""){
			//Create a hash with data from the corresponding fields
			var encrypted = CryptoJS.SHA256(username).toString();
			var user = username
			form = "encrypted="+encrypted+"&user="+username;
			var usernameExists=form;
			//Set the fields to the corresponding data of the form1
			// post request to DataBase
			$.ajax({
				url: '/api/users/checkUser', 
				data: form,
				type: "POST", 
				dataType: 'json',
				//Successful request 
				success: function (e) {
					//If the respone (e) from the backend is false proceed
					if (e!==true){
						$('#allset').trigger('submit');
						// epayment()
					}else {
						data = e;
						window.alert("Username exists. Please chnage it");
					}
				},
				error:function(e){
					window.alert("Data have not been stored");
				}
			});
		}
		else{
			window.alert("Please complete all the fields");
			location.reload();
			return false;
		} 
	}
});// prevent form from posting without JS


//initialize form 
$(document).ready(function(){
	//Form submission
	document.getElementById('allset').onsubmit = function(event){
		event.preventDefault();
		//initializes the http request
		var xhttp = new XMLHttpRequest(); // create new AJAX request
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) { // sucess from server
				// console.log("1")
				//call store function
				store();
			}else{ // errors occured
				//window.alert("An error occured during form's submission")
			}
		}
	
		if(document.getElementById('file').files.length==0){
			store();
		}

            		//http request to backend
		xhttp.open("POST", "/api/users/upload",true)
		//initialize new formdata
		var formData = new FormData();
		//initialize the name of the image and split its extension
		//var ed=document.getElementById('file').files[0];
		//console.log("here: "+ed);
		var rawExtension = document.getElementById('file').files[0].type;
		extension = rawExtension.split("/").pop();
		//check if the extension of the image is supported
		if (extension =='jpeg'|| extension =='jpg' || extension =='png'){
			//appends image and username data to the form data 
			formData.append('extension', extension);
			formData.append('username', document.getElementById('username').value); // the text data
			formData.append('file', document.getElementById('file').files[0]); // since inputs allow multi files submission, therefore files are in array
			//sends the form data
			xhttp.send(formData);
		} else{
			//error message
			window.alert('The uploaded file is unsupported');
		}
              
			

	

	}
});

function store(){
	//Get values from the fields
	console.log(username)
	var id=<%=id_new%>
	console.log(id)
	var username = document.getElementById("username").value;
	var email = document.getElementById("email").value;
	var surname = document.getElementById("surname").value;
	var name = document.getElementById("name").value;
	var amka = document.getElementById("amka").value;
	//console.log(amka);
	var middleName = document.getElementById("middleName").value;
	var sexid = document.getElementById("sexid").value;
	var birth = document.getElementById("birth").value;
	var address = document.getElementById("address").value;
	var phone = "+" + window.intlTelInputGlobals.getInstance(input).selectedCountryData.dialCode + $('#phone').val();
	var emergencyPhone = "+" + window.intlTelInputGlobals.getInstance(input1).selectedCountryData.dialCode + $('#emergencyPhone').val();
	var doctorsPhone = "+" + window.intlTelInputGlobals.getInstance(input2).selectedCountryData.dialCode + $('#doctorPhone').val();
	var medicalCondition = document.getElementById("medicalCondition").value;
	var bloodType = document.getElementById("bloodType").value;
	var medication = document.getElementById("medication").value;
	var allergies = document.getElementById("allergies").value;
	var organDonor = document.getElementById("organDonor").value;

	

	var hash=' '; 
	//if fields are not empty then send the form
	if(username !="" && email !="" && surname !="" && name !="" && middleName !="" && extension !=""&& sexid !="" && birth !="" && address !="" && phone !="" && emergencyPhone !="" && doctorsPhone !="" && medicalCondition !="" && bloodType !=""&& medication !=""&& allergies !="" && organDonor !="" && hash !=""){
		//Create a hash with data from the corresponding fields
		var encrypted = CryptoJS.SHA256(username+surname+name+middleName).toString();
		//Set the fields to the corresponding data of the form1
		form1 ="id="+id+"&username="+username+"&email="+email+"&surname="+surname+"&name="+name
		+"&middleName="+middleName+"&sexid="+sexid +"&birth="+birth+"&address="+address
		+"&phone="+phone+"&emergencyPhone="+emergencyPhone+"&doctorsPhone="+doctorsPhone
		+"&medicalCondition="+medicalCondition+"&extension="+ extension +"&bloodType="+bloodType+"&medication="+medication
		+"&allergies="+allergies+"&organDonor="+organDonor+"&hash="+encrypted;
		form1.hash= encrypted;
		form2 = "username="+username+"&email="+email+"&hash="+encrypted+"&id="+id;
		// post request to DataBase
		$.ajax({
			url: '/api/users', 
			data: form1,
			type: "POST", 
			dataType: 'json',
			//Successful request 
			success: function (e) {
				//If the respone (e) from the backend is false proceed
				if (e!==true){
					//Information message after payment
					document.getElementById("afterSignUpMessage").innerHTML = '<html>';			
					document.getElementById("afterSignUpMessage").innerHTML += '<h2>Thank you very much for your registration.</h2>';
					document.getElementById("afterSignUpMessage").innerHTML += '<p>Your data has safely encrypted and sent to our servers.</p>';			
					// document.getElementById("afterSignUpMessage").innerHTML += '<p>It usually takes 2-3 working days to verify your registration.</p>';	
					// document.getElementById("afterSignUpMessage").innerHTML += '<p>After that, and if everything will be successfull a confirmation email with your Blockchain <strong>ID</strong> will be sent to your email.</p>';			
					document.getElementById("afterSignUpMessage").innerHTML += '<p>By any means, do <strong>NOT</strong> misplace your Blockchain ID. Make sure that you make multiple backups, including offline and encrypted files on the cloud. You are entirely responsible with your account, because unless you explicitly allow it, no one else can touch your account.</p>';				
					document.getElementById("afterSignUpMessage").innerHTML += '</html>';
					//Diplay changes
					document.getElementById("payment").style.display = "none";
					document.getElementById("description").style.display = "none";			
					document.getElementById("afterSignUp").style.display = "block";	
					//SendEmail request
					$.ajax({
						url: '/api/users/sendemail', 
						data: form2,
						type: "POST",
						dataType: 'json',
						//Email request made succesfully
						success: function (res) {
							//if email sent succefully then do nothing
							if (res === true){
								return;
							//else show an error message
							} else if (res === false){
								window.alert("Email was not sent");
								return;
							}
						},
						//Request's error function
						error:function(res){
							window.alert("Email request failed");
						}
					}); 
					console.log('email ajax ends');
					console.log('timeout');
					setTimeout(reload, 5000);
					function reload(){
						//location.reload(5000);
					}
					return;
				}else {
					data = e;
					window.alert("Username exists");
				}
			},
			error:function(e){
				//window.alert("Data have not been stored");
			}	
		});
	}else{
		window.alert("Please complete all the fields");
		location.reload();
		return false;
	} 
};
</script>
<!----------------------------------------------Backend Javascript END-------------------------------------------------------->
</body>
</html>